<app-navbar></app-navbar>
<main>
    <article (click)="redirect('movies');">
        <div class="imagen">
            <img src="../../../assets/movies.png" alt="">
        </div>
        <div class="view">
            <span>Movies</span>
        </div>
    </article>
    <article (click)="redirect('series');">
        <div class="imagen">
            <img src="../../../assets/series.png" alt="">
        </div>
        <div class="view">
            <span>Series</span>
        </div>
    </article>
</main>
<app-footer></app-footer>


