<div class="container">
    <app-navbar [ruta]="'series'"></app-navbar>
    <app-filters (dateValue)="dateSerie($event)" (searchValue)="searchSerie($event)"></app-filters>
    <main>
        <article class="series">
            <section *ngFor="let serie of series 
            | filterSeries : filterText : filterYear
            | paginate: { itemsPerPage: 10, currentPage: paginaActual } ">
                <figure>
                    <img [src]="serie.images.posterArt.url" (error)="serie.images.posterArt.url = no_image" alt="">
                </figure>
                <article>
                    <div>
                        <span class="serie_titulo" [title]="serie.title">{{serie.title}}</span>
                    </div>
                    <div>
                        <span>{{serie.releaseYear}}</span>
                    </div>
                    <div>
                        <span>{{serie.description}}</span>
                    </div>
                </article>
            </section>
        </article>

        <article class="series-none" *ngIf="(series | filterSeries : filterText : filterYear).length === 0">
            <img src="../../../assets/not_found.png" alt="">
        </article>

        <article class="pagination" *ngIf="(series | filterSeries : filterText : filterYear).length > 0">
            <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>
        </article>
    </main>
    <app-footer></app-footer>
</div>