header{
    // height: 7vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    section.logo{
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
        margin-left: 10vw;

        .logo-image{
            margin-right: 3em;
        }

        div{
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: .7rem 1.1rem .7rem 1.1rem;

            span{
                margin-left: 0.6em;
            }
        }

    }

    section.login{
        display: flex;
        align-items: center;
        margin-right: 10vw;

        .login-filter{
            color: white;
            display: flex;
            align-items: center;
            padding: 0 15px 0 15px;

            span{
                margin-left: .5em;
            }
        }

        .login-button{
            padding: 0 15px 0 15px;
            display: flex;
            align-items: center;
            color: white;
            border-right: 1px solid white;
            border-left: 1px solid white;

            span{
                margin-right: .5em;
            }
        }

        .login-freeTrial{
            margin-left: 2em;
            padding: .2em 1em .2em 1em;
            background-color: red;
            color: white;
            border-radius: 8px;
        }
    }
}