<div class="container">
    <app-navbar [ruta]="'movies'"></app-navbar>
    <app-filters (dateValue)="dateMovie($event)" (searchValue)="searchMovie($event)"></app-filters>
    <main>
        <article class="movies">
            <section *ngFor="let movie of movies 
            | filterMovies : filterText : filterYear
            | paginate: { itemsPerPage: 10, currentPage: paginaActual } ">
                <figure>
                    <img [src]="movie.images['Poster Art'].url" (error)="movie.images['Poster Art'].url = no_image" alt="">
                </figure>
                <article>
                    <div>
                        <span class="movie_titulo" [title]="movie.title">{{movie.title}}</span>
                    </div>
                    <div>
                        <span>{{movie.releaseYear}}</span>
                    </div>
                    <div>
                        <span>{{movie.description}}</span>
                    </div>
                </article>
            </section>
        </article>
        <article class="pagination">
            <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>
        </article>
    </main>
    <app-footer></app-footer>
</div>