
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    main{
        background-color: rgb(28, 25, 25);
        height: 70vh;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(5, 1fr);
        padding: 0px 160px 0px 160px;
    
        section{
            cursor: pointer;
            figure{
                margin: 5px;
                img{
                    height: 250px;
                    width: 200px;
                }
            }
        }

        section:hover .view{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    
}