<footer>
    <section class="logo">
        <img src="../../../assets/logo.png" alt="">
    </section>
    <section class="navbar">
        <div><span>Home</span></div>
        <div><span>Terms of Use</span></div>
        <div><span>Legal Notices</span></div>
        <div><span>Help</span></div>
        <div><span>Manage Account</span></div>
    </section>
    <section class="stores">
        <div>
            <img src="../../../assets/app store.png" alt="">
        </div>
        <div>
            <img src="../../../assets/google-play.png" alt="">
        </div>
    </section>
    <section class="copyright">
        <span>Copyright 2022 Dreadful Tomato Streaming All Rights Reserved</span>
    </section>
</footer>
